<!DOCTYPE html>
<html lang="en">

<head>
   <title>Register</title>
{% load crispy_forms_tags %}
{% load static  %}
  <link href="{% static 'css/login.css' %}">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md 10 col-lag-7">
                <div class="card card-signin my-5">
                    <div class="card-body">
               <h2>Sign up</h2>
                <div>
                      <form method="post">
                          {% csrf_token %}  
                          <fieldset class="form-group">
                              <legend class="border-bottom mb-4" style="color:red;">Please fill in all the details below !!</legend>
                              {{ form | crispy }}
                          </fieldset>
                          <div class="form-group">
                              <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                          </div>
                      </form>
                      <div class="border-top pt-3">
                          <small class="text-muted">
                          Already have an account? <a href="{% url 'Login' %}">Login</a>
                          </small>
                      </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>